In [4]:
#Creating a table

import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python5pm"
)
db = database.cursor()

In [8]:
db.execute('select* FROM profile')
result =db.fetchall()
for x in result:
    print(x)

(1, 'sujin', 50, 69, 29, 69, 45, 300, 60, 'b')
(2, 'arju', 40, 46, 45, 56, 56, 357, 56, 'c')

In [16]:
sql='INSERT INTO profile (name,physics,chemistry,math,english,nepali,total,percentage,grade) VALUES("ram",78,34,45,56,67,344,45,"a")'
db.execute(sql)
database.commit()

In [17]:
name=input('enetr name: ')
physics=int(input('enter number: '))
chemistr=int(input('enter number: '))
math=int(input('enter number: '))
english=int(input('enter number: '))
nepali=int(input('enter number: '))
total=sum([physics,chemistry,math,english,nepali])
per=total/5
if per>=80:
    grade='A'
elif per>=60:
    grade='B'
elif per>=40:
    grade='C'
else:
    grade='F'
sql=f'INSERT INTO profile (name,physics,chemistry,math,english,nepali,total,percentage,grade) VALUES("{name}",{physics},{chemistry},{math},{english},{nepali},{total},{per},"{grade}")'
db.execute(sql)
database.commit()

enetr name: shyam
enter number: 34
enter number: 56
enter number: 34
enter number: 67
enter number: 45

NameError: name 'chemistry' is not defined