In [1]:
# dictionary
# indexed
# ordered
# duplicate and multiple data
# mutable

In [2]:
#d={<key>:<value>,<key>:<value>}

In [3]:
d={'a':'apple','b':'ball','c':'cat'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [4]:
print(d['a'])

apple

In [5]:
print(d['c'])

cat

In [6]:
d={'a':'apple','b':'ball','c':'cat','A':'apple'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [7]:
d={'a':'apple','b':'ball','c':'cat','a':'ant'}
print(d)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [8]:
#a=dict()
a={}
a['a']='apple'
a['b']='ball'
a

{'a': 'apple', 'b': 'ball'}

In [10]:
n=int(input('enert the value of n: '))
info={}
for i in range(n):
    name=input('enter name: ')
    phone=int(input('enetr phone: '))
    info[name]=phone
print(info)

enert the value of n: 2
enter name: ram
enetr phone: 12312321
enter name: shyam
enetr phone: 123123
{'ram': 12312321, 'shyam': 123123}

In [11]:
a={'ram': 12312321, 'shyam': 123123}
for i in a.values():
    print(i)

12312321
123123

In [12]:
a={'ram': 12312321, 'shyam': 123123}
for i in a:
    print(i)

ram
shyam

In [13]:
a={'ram': 12312321, 'shyam': 123123}
for i in a.items():
    print(i)

('ram', 12312321)
('shyam', 123123)

In [14]:
a={'ram': 12312321, 'shyam': 123123}
a['ram']=789                          #update
a

{'ram': 789, 'shyam': 123123}

In [15]:
#del pop()
a={'ram': 12312321, 'shyam': 123123}
del a['ram']
a

{'shyam': 123123}

In [16]:
a={'ram': 12312321, 'shyam': 123123}
a.pop('ram')
a

{'shyam': 123123}

In [17]:
a={'ram': 12312321, 'shyam': 123123}
b={'hari':123123}
a.update(b)
a

{'ram': 12312321, 'shyam': 123123, 'hari': 123123}

In [21]:
#list inside dict
a={'ram': [12312321,23452534],
   'shyam': [123123,23425154]}

a

{'ram': [12312321, 23452534], 'shyam': [123123, 23425154]}

In [23]:
a['shyam']

[123123, 23425154]

In [24]:
a['hari']=[123432,354352]
a

{'ram': [12312321, 23452534],
 'shyam': [123123, 23425154],
 'hari': [123432, 354352]}

In [25]:
a['hari'][0]=564563
a

{'ram': [12312321, 23452534],
 'shyam': [123123, 23425154],
 'hari': [564563, 354352]}

In [26]:
del a['hari'][0]
a

{'ram': [12312321, 23452534], 'shyam': [123123, 23425154], 'hari': [354352]}

In [27]:
n=int(input('enert the value of n: '))
info={}
for i in range(n):
    name=input('enter name: ')
    ntc_phone=int(input('enetr phone: '))
    ncell_phone=int(input('enetr phone: '))
    info[name]=[ntc_phone,ncell_phone]
print(info)

enert the value of n: 2
enter name: ram
enetr phone: 9841
enetr phone: 98510
enter name: shyam
enetr phone: 984128
enetr phone: 9851098
{'ram': [9841, 98510], 'shyam': [984128, 9851098]}

In [28]:
n=int(input('enert the value of n: '))
info={'name':[],'age':[],'add':[]}
for i in range(n):
    name=input('enetr name: ')
    age=int(input('enetr age: '))
    add=input('enter add: ')
    info['name'].append(name)
    info['age'].append(age)
    info['add'].append(add)
print(info)

enert the value of n: 2
enetr name: ram
enetr age: 22
enter add: kathmandu
enetr name: shyam
enetr age: 23
enter add: bhaktapur
{'name': ['ram', 'shyam'], 'age': [22, 23], 'add': ['kathmandu', 'bhaktapur']}

In [1]:
a={'name': ['ram', 'shyam'],
   'age': [22, 23],
   'add': ['kathmandu', 'bhaktapur']}
name=input('enetr name: ')
print(a['name'])
indexs=a['name'].index(name)
del a['name'][indexs]
del a['age'][indexs]
del a['add'][indexs]
a

enetr name: ram
['ram', 'shyam']

{'name': ['shyam'], 'age': [23], 'add': ['bhaktapur']}

In [2]:
#dict inside dict
a={1:{'name':'ram','age':22,'add':'kathmandu'},
  2:{'name':'shyam','age':23,'add':'bhaktapur'},
  3:{'name':'gita','age':20,'add':'lalitpur'}}
a

{1: {'name': 'ram', 'age': 22, 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': 23, 'add': 'bhaktapur'},
 3: {'name': 'gita', 'age': 20, 'add': 'lalitpur'}}

In [3]:
a[4]={'name':'sita','age':26,'add':'basantapur'}
a

{1: {'name': 'ram', 'age': 22, 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': 23, 'add': 'bhaktapur'},
 3: {'name': 'gita', 'age': 20, 'add': 'lalitpur'},
 4: {'name': 'sita', 'age': 26, 'add': 'basantapur'}}

In [4]:
a[1]={'name':'raman','age':25,'add':'pokahra'}
a

{1: {'name': 'raman', 'age': 25, 'add': 'pokahra'},
 2: {'name': 'shyam', 'age': 23, 'add': 'bhaktapur'},
 3: {'name': 'gita', 'age': 20, 'add': 'lalitpur'},
 4: {'name': 'sita', 'age': 26, 'add': 'basantapur'}}

In [5]:
a[1]['name']='hari'
a

{1: {'name': 'hari', 'age': 25, 'add': 'pokahra'},
 2: {'name': 'shyam', 'age': 23, 'add': 'bhaktapur'},
 3: {'name': 'gita', 'age': 20, 'add': 'lalitpur'},
 4: {'name': 'sita', 'age': 26, 'add': 'basantapur'}}

In [ ]:
# WAP to create dict inside dict like above