In [1]:
# list
# indexed
# orderd
# multiple data
# duplicate data
# mutable

In [3]:
a=['apple','ball','cat','dog']
b=[1,2,3,4,5]
print(a)
print(b)
print(type(a))
print(type(b))

['apple', 'ballcat', 'dog']
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>

In [5]:
a=['apple','ball','cat','dog']
print(a[1])

ball

In [10]:
a=['apple','ball','cat','dog']
a[0:3]

['apple', 'ball', 'cat']

In [9]:
a=['apple','ball','cat','dog']
a[0:4:2]

['apple', 'cat']

In [11]:
a=['apple','ball','cat','dog']
b=['fish']
c=a+b
print(c)

['apple', 'ball', 'cat', 'dog', 'fish']

In [12]:
a=['apple','ball','cat','dog']
print(a*2)

['apple', 'ball', 'cat', 'dog', 'apple', 'ball', 'cat', 'dog']

In [13]:
a=['apple','ball','cat','dog']
a[0]='ant'
print(a)

['ant', 'ball', 'cat', 'dog']

In [14]:
a=['apple','ball','cat','dog']
for i in (a):
    print(i)

apple
ball
cat
dog

In [16]:
a=['apple','ball','cat','dog']
for i in range (len(a)):
    print(a[i])

apple
ball
cat
dog

In [17]:
a=['apple','ball','cat','dog']
if 'apple' in a:
    print('yes',a.count('apple'))

yes 1

In [18]:
l=[]
x=['apple']
l+x+['ball']

['apple', 'ball']

In [19]:
l=[]
n=int(input('enetr the value of n: '))
for i in range(n):
    x=int(input('enetr the value of x: '))
    l=l+[x]
print(l)

enetr the value of n: 5
enetr the value of x: 1
enetr the value of x: 2
enetr the value of x: 3
enetr the value of x: 4
enetr the value of x: 5
[1, 2, 3, 4, 5]

In [20]:
print('sum of numbers: ',sum(l))
print('minimum value of l: ',min(l))
print('max value of l: ',max(l))

sum of numbers:  15
minimum value of l:  1
max value of l:  5

In [21]:
l=[]
n=int(input('enetr the value of n: '))
for i in range(n):
    x=(input('enetr name: '))
    l=l+[x]
print(l)

enetr the value of n: 5
enetr name: ram
enetr name: hari
enetr name: sita
enetr name: gita
enetr name: raman
['ram', 'hari', 'sita', 'gita', 'raman']

In [24]:
l.sort()
print(l)

['gita', 'hari', 'ram', 'raman', 'sita']

In [25]:
l=[]
n=int(input('enetr the value of n: '))
for i in range(n):
    x=int(input('enetr the value of x: '))
    l=l+[x]
l.sort()
print(l)
l.reverse()
print(l)

enetr the value of n: 5
enetr the value of x: 100
enetr the value of x: 500
enetr the value of x: 20
enetr the value of x: 50
enetr the value of x: 10
[10, 20, 50, 100, 500]
[500, 100, 50, 20, 10]

In [26]:
#append insert extend
#append
a=['ram', 'hari', 'sita', 'gita', 'raman']
a.append('sabin')
print(a)

['ram', 'hari', 'sita', 'gita', 'raman', 'sabin']

In [27]:
#insert
a=['ram', 'hari', 'sita', 'gita', 'raman']
a.insert(1,'sabin')
print(a)

['ram', 'sabin', 'hari', 'sita', 'gita', 'raman']

In [28]:
#extend
a=['ram', 'hari', 'sita', 'gita', 'raman']
b=[1,2,3,4]
a.extend(b)
print(a)

['ram', 'hari', 'sita', 'gita', 'raman', 1, 2, 3, 4]

In [29]:
l=[]
n=int(input('enetr the value of n: '))
for i in range(n):
    x=(input('enetr name: '))
    l.append(x)
    print(l)

enetr the value of n: 3
enetr name: ram
['ram']
enetr name: shyam
['ram', 'shyam']
enetr name: hari
['ram', 'shyam', 'hari']

In [1]:
a=['ram', 'hari', 'sita', 'gita', 'raman']
a.index('ram')

0

In [2]:
#del remove() pop()
# list tinside list

In [3]:
a=['ram', 'hari', 'sita', 'gita', 'raman']
del a[0]
print(a)

['hari', 'sita', 'gita', 'raman']

In [4]:
a=['ram', 'hari', 'sita', 'gita', 'raman']
del a[0:2]
print(a)

['sita', 'gita', 'raman']

In [5]:
a=['ram', 'hari', 'sita', 'gita', 'raman']
a.remove('ram')
print(a)

['hari', 'sita', 'gita', 'raman']

In [6]:
a=['ram', 'hari', 'sita', 'gita', 'raman']
a.pop(0)
print(a)

['hari', 'sita', 'gita', 'raman']

In [7]:
a=['ram', 'hari', 'sita', 'gita', 'raman','ram']
for i in a:
    if i=='ram':
        a.remove('ram')
print(a)

['hari', 'sita', 'gita', 'raman']

In [9]:
a=['ram', 'hari', 'sita', 'gita', 'raman','ram']
l=len(a)
for i in range(l):
    if a[i]=='ram':
        print(i)

0
5

In [10]:
#list inside list
a=[1,2,3],[4,5,6],[7,8,9]
print(a)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [11]:
a=[['ram',22,'kathmandu'],['sita',21,'lalitpur'],['hari',25,'bhakhtapur']]
for i in a:
    print(i)

['ram', 22, 'kathmandu']
['sita', 21, 'lalitpur']
['hari', 25, 'bhakhtapur']

In [12]:
print(a[1])

['sita', 21, 'lalitpur']

In [14]:
info=[]
n=int(input('enetr the value of n: '))
for i in range(n):
    name=input('enter name: ')
    age=int(input('enetr age: '))
    add=input('enetr address: ')
    data=[name,age,add]
    info.append(data)
print(info)

enetr the value of n: 2
enter name: ram
enetr age: 22
enetr address: kathmandu
enter name: sita
enetr age: 21
enetr address: lalitpur
[['ram', 22, 'kathmandu'], ['sita', 21, 'lalitpur']]

In [18]:
a=[['ram',22,'kathmandu'],['sita',21,'lalitpur'],['hari',25,'bhakhtapur']]
a[0][0]='ram prashad'
a

[['ram prashad', 22, 'kathmandu'],
 ['sita', 21, 'lalitpur'],
 ['hari', 25, 'bhakhtapur']]

In [19]:
a=[['ram',22,'kathmandu'],['sita',21,'lalitpur'],['hari',25,'bhakhtapur']]
a[0]=['rama',50,'budanil']
a

[['rama', 50, 'budanil'], ['sita', 21, 'lalitpur'], ['hari', 25, 'bhakhtapur']]

In [20]:
a=[['ram',22,'kathmandu'],['sita',21,'lalitpur'],['hari',25,'bhakhtapur']]
name=input('enetr name:')
for i in a:
    if name in i:
        print(i)

enetr name:sita
['sita', 21, 'lalitpur']

In [22]:
a=[['ram',22,'kathmandu'],['sita',21,'lalitpur'],['hari',25,'bhakhtapur']]
name=input('enetr name:')
for i in a:
    if name in i and i[1]>20 and i[2]=='kathmandu':
        print(i)

enetr name:ram
['ram', 22, 'kathmandu']

In [25]:
bill=[]
n=int(input('eneter the vealue of n:'))
for i in range (n):
    
    name=input('enetr your name: ')
    price=int(input('enetr price: '))
    qunatity=int(input('eneter quantity: '))
    total=price* qunatity
    bill.append([name,price,qunatity,total])
        
print(bill)

eneter the vealue of n:2
enetr your name: apple
enetr price: 250
eneter quantity: 2
enetr your name: banana
enetr price: 1
eneter quantity: 100
[['apple', 250, 2, 500], ['banana', 1, 100, 100]]

In [ ]:
# #WAP to create a matrix using list inside list
# row=3
# coloum=3

# matrix=[[1,2,3],
#         [4,5,6],
#         [7,8,9]]
# #for i
#        for i