In [1]:
t=tuple()
a=(1,2,3,4,5,6)
b=('apple','ball','cat','dog')
print(a)
print(b)
print(t)

(1, 2, 3, 4, 5, 6)
('apple', 'ball', 'cat', 'dog')
()

In [2]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
# tuple
# indexed
# multiple values
# duplicate
# orderd
# imutable

In [4]:
a=('apple','ball','cat','dog')
print(a[2])

cat

In [5]:
a=('apple','ball','cat','dog','apple')
a

('apple', 'ball', 'cat', 'dog', 'apple')

In [6]:
#cant update create create

In [7]:
a=('apple','ball','cat','dog','apple')
for i in a:
    print(i)

apple
ball
cat
dog
apple

In [8]:
a=('apple','ball')
b=('cat','dog')
c=a+b
print(c)

('apple', 'ball', 'cat', 'dog')

In [9]:
b=('cat')
print(type(b))

<class 'str'>

In [10]:
b=('cat',)
print(type(b))

<class 'tuple'>

In [12]:
y=()
n=int(input('enetr the value of n: '))
for i in range(n):
    x=input('eneter the value of x: ')
    y=y+(x,)
print(y)

enetr the value of n: 2
eneter the value of x: cat
eneter the value of x: dog
('cat', 'dog')

In [13]:
#to update create create covert to list

In [14]:
a=('apple', 'ball', 'cat', 'dog')
list(a)

['apple', 'ball', 'cat', 'dog']

In [18]:
a='hello world'
b=list(a)
b

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [19]:
a='hello world'
b=tuple(a)
b

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [20]:
a=('apple', 'ball', 'cat', 'dog')
b=list(a)
del b[0]
a=tuple(b)
a

('ball', 'cat', 'dog')

In [22]:
def cal():
    return 'hello','world'
cal()

('hello', 'world')

In [24]:
x,y=cal()
print(x)
print(y)

hello
world

In [25]:
a=((1,2,3),
   (4,5,6),
   (7,8,9))
b=(('ram',22,'kathmandu'),
  ('hari',24,'bagmati'),
   ('sita',55,'basantaput'))
b

(('ram', 22, 'kathmandu'), ('hari', 24, 'bagmati'), ('sita', 55, 'basantaput'))

In [26]:
b=(('ram',22,'kathmandu'),
  ('hari',24,'bagmati'),
   ('sita',55,'basantaput'))
list(b)

[('ram', 22, 'kathmandu'), ('hari', 24, 'bagmati'), ('sita', 55, 'basantaput')]

In [27]:
l=[]
b=(('ram',22,'kathmandu'),
  ('hari',24,'bagmati'),
   ('sita',55,'basantaput'))
b=list(b)
for i in b:
    l.append(list(i))
l

[['ram', 22, 'kathmandu'], ['hari', 24, 'bagmati'], ['sita', 55, 'basantaput']]

In [34]:
l=()
b=[['ram', 22, 'kathmandu'], ['hari', 24, 'bagmati'], ['sita', 55, 'basantaput']]
b=tuple(b)
for i in b:
    l=l+(tuple(i),)
l

(('ram', 22, 'kathmandu'), ('hari', 24, 'bagmati'), ('sita', 55, 'basantaput'))

In [36]:
r=int(input('enetr r: '))
c=int(input('enetr c: '))
z=[]                         #[[1,2,3],[4,5,6],[]]
for i in range (r):
    y=[]                     #[7,8,9]
    for j in range(c):
        x=int(input('eneter the value of x: '))
        y.append(x)
        print(y)
    z.append(y)
    print(z)

enetr r: 2
enetr c: 2
eneter the value of x: 1
[1]
eneter the value of x: 2
[1, 2]
[[1, 2]]
eneter the value of x: 3
[3]
eneter the value of x: 4
[3, 4]
[[1, 2], [3, 4]]